.advantages__text {
  .offset();
  padding: 15px 20px 11px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 41px;
  }
}

.advantages__list {
  .offset();
  list-style: none;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  background-color: @light-grey;

  @media (min-width: @tablet-width) {
    width: 100%/3;
  }
}

.advantages__item-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantages__text-wrapper {
  @media (min-width: @tablet-width) {
    flex-shrink: 0;
    width: 256px;
    min-height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantages__photo-wrapper {
  height: 260px;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    background-color: green;
    overflow: hidden;
  }
}

.advantages__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 256px;
    object-fit: cover;
  }
}

.advantages__title {
  .offset();
  padding: 25px 20px 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding: 40px 20px 15px;
    font-size: 21px;
  }
}

.advantages__number,
.advantages__description {
  .offset();
  font-size: 14px;
  line-height: 21px;
  color: @dark-grey;
}

.advantages__description {
  padding: 17px 35px 26px;

  @media (min-width: @tablet-width) {
    padding: 23px 35px 65px;
  }
}

.advantages__item--detailed:first-child {
  .advantages__title {
    padding-top: 70px;
    background: url("../img/vector/advantages-triangle.svg") top center no-repeat;

    @media (min-width: @tablet-width) {
      padding-top: 40px;
      background: none;
    }
  }
}

.advantages__item--detailed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: @blue;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 100%;
  }

  .advantages__title,
  .advantages__number,
  .advantages__description {
    color: @white;
  }

  .advantages__title {
    padding-top: 38px;

    @media (min-width: @tablet-width) {
      padding-top: 40px;
    }
  }

  .advantages__description {
    padding: 17px 10px 37px;

    @media (min-width: @tablet-width) {
      padding: 26px 20px 37px;
    }
  }
}

.advantages__item--detailed:nth-child(2) {
  .advantages__text-wrapper {
    @media (min-width: @tablet-width) {
      order: 2;
    }
  }
}
