.footer {
  padding: 37px 20px 23px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 23px;
  }
}

.footer__tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.footer__copyright {
  font-size: 14px;
  line-height: 26px;
}
