.footer {
  padding: 37px 20px 13px;
  text-align: center;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 32px 120px;
  }
}

.footer__tag {
  display: block;
  margin-bottom: 35px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
