.intro {
  padding: 88px 20px 79px;
  margin-top: -25px;
  text-align: center;
  background: url("../img/vector/intro-decoration.svg") bottom center no-repeat,
    @bg-intro url("../img/photos/bg-mobile.jpg") bottom center no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../img/vector/intro-decoration.svg") bottom center no-repeat,
      @bg-intro url("../img/photos/bg-mobile@2x.jpg") bottom center no-repeat;
    background-size: auto, 767px auto;
  }

  @media (min-width: @tablet-width) {
    padding: 77px 20px 82px;
    margin-top: 0;
    text-align: center;
    background: url("../img/vector/intro-decoration.svg") bottom center no-repeat,
      @bg-intro url("../img/photos/bg-desktop.jpg") bottom center no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/vector/intro-decoration.svg") bottom center no-repeat,
        @bg-intro url("../img/photos/bg-desktop@2x.jpg") bottom center no-repeat;
      background-size: auto, 1200px auto;
    }
  }
}

.intro--short {
  padding: 52px 20px 60px;

  @media (min-width: @tablet-width) {
    padding: 96px 20px 110px;
  }

  @media (min-width: @desktop-width) {
    padding: 103px 20px 113px;
  }
}

.intro__slogan {
  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.intro__slogan--short {
  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
  }
}
