.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  display: block;
  align-self: center;
  line-height: 0;
  z-index: @zindex-logo;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
  }
}

.page-header__logo-image {
  @media (min-width: @desktop-width) {
    width: 187px;
    height: auto;
  }
}
