.page-main {
  outline: 1px solid crimson;
}

.page-main__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.page-main__slogan {
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.page-main__description {
  font-size: 14px;
  line-height: 24px;
  color: @dark-grey;
}
