// colors
@white: #ffffff;
@black: #000000;
@dark-grey: #333333;
@blue: #81B3D2;
// viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

// z-index
// @zindex-header: 150;
// @zindex-footer: 150;
// @page-heading-decoration: 100;
// @zindex-modal: 200;
// @zindex-intro: 70;
// @zindex-about: 60;
